<div class="content p-1">
    <div class="list-group-item">
        <div class="d-flex">
            <div class="mr-auto p-2">
                <h2 class="display-4 titulo">Perfil do Usuário</h2>
            </div>
            <div class="p-2">
                <span class="d-none d-md-block">
                    <a href="/admin/" class="btn btn-outline-info btn-sm">Voltar</a>
                    <a href="/admin/editPerfil" class="btn btn-outline-warning btn-sm">Editar Perfil</a>
                </span>
                <div class="dropdown d-block d-md-none">
                    <button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="acoesListar"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ações
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="acoesListar">
                        <a class="dropdown-item" href="/admin/">Voltar</a>
                        <a class="dropdown-item" href="/admin/editPerfil">Editar Perfil</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        {{> _msg}}
        <dl class="row">
            <dt class="col-sm-3">Nome:</dt>
            <dd class="col-sm-9">{{data.nome}}</dd>
            <dt class="col-sm-3">CPF:</dt>
            <dd class="col-sm-9">{{data.cpf}}</dd>
            <dt class="col-sm-3">Email:</dt>
            <dd class="col-sm-9">{{data.email}}</dd>
            <dt class="col-sm-3">Usuário desde:</dt>
            <dd class="col-sm-9">{{data.created}}</dd>
        </dl>
    </div>
</div>
</div>