<div class="content p-1">
    <div class="list-group-item">
        <div class="d-flex">
            <div class="mr-auto p-2">
                <h2 class="display-4 titulo">Cadastrar Categoria</h2>
            </div>
            <div class="p-2">
                <a href="/admin/catPagamentos" class="btn btn-warning">Listar Categorias</a>
            </div>
        </div>
    </div>
    {{> _msg}}
    <hr>
    <div class="list-group-item">
        <form action="/admin/addCatPagamento" method="POST">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label><span class="text-danger">*</span> Nome da Categoria</label>
                    <input name="name" type="text" class="form-control" placeholder="Nome da Categoria" required>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-success">Cadastrar</button>
            </div>
        </form>
    </div>

</div>