<div class="content p-1">
    <div class="list-group-item">
        <div class="d-flex">
            <div class="mr-auto p-2">
                <h2 class="display-4 titulo">Categorias de Pagamento</h2>
            </div>
            <div class="p-2">
                <a href="/admin/cadCatPagamento" class="btn btn-success">Cadastrar</a>
            </div>
        </div>
    </div>
</div>